# Ignore virtual environment
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Excel temp files
~$*.xlsx

# Streamlit logs and secrets
.streamlit/secrets.toml